* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

.login-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-container p {
    color: #999;
    font-size: 14px;
    margin-bottom: 30px;
}

.input-box {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.input-box:focus {
    outline: none;
    border: 1px solid #0077ff;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.submit-btn {
    width: 100%;
    background: #f2f2f2;
    color: #aaa;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: not-allowed;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #0077ff;
}

.links a {
    text-decoration: none;
    color: #0077ff;
}
